
<pre>
  {{ data.value | json }}
  {{ data.value.dateLocal | dateformat : 'date' : 'local' }}
  {{ data.value.dateTimeLocal | dateformat : 'datetime' : 'local' }}
</pre>

<form [formGroup]="data">
  <input type="date" formControlName="dateLocal">
  <input type="datetime-local" formControlName="dateTimeLocal">
</form>